<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Crowd Source Map</title>
  <meta charset="utf-8">

  <!--bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>
    <h1>form</h1>
    <form id="theForm">
        <input type="text" name="name" value="John">
        <input type="text" name="surname" value="Smith">
        <input type="submit">
    </form>
</body>

</html>
