
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title></title>
  <meta charset="utf-8">
</head>

<body>
    <h1>test</h1>
    <img src="" alt="Imagem não carregou" width="500" height="333">
</body>

<script>
  async () => {
    const response = await fetch('/get', {
    method: 'POST',
    body: formObjt,
  });
  }
</script>

</html>